#section1{
	width:98%;
	height:150px;
	background-color:AliceBlue;
	padding:10px
}
#section2{
	width:98%;
	height:150px;
	background-color:AntiqueWhite;
	padding:10px
}
#section3{
	width:98%;
	height:150px;
	background-color:Beige;
	padding:10px
}
#section4{
	width:98%;
	height:150px;
	background-color:CadetBlue;
	padding:10px
}











